.w3-bar-block .w3-bar-item {padding:20px}

    body,h4,h5 {font-family: "Karma", sans-serif;font-size: larger;}
    
    h1,h3 {
      color : #2A4C65;   /*8E6E57 976666 17341E*/
      font-size: x-large;
      font-weight: 600;
      text-align: center;
    }     
    h2,caption {
      color: #003C9D;
      font-size: xx-large;
      font-weight: 600;
      text-align: center;
    }
    h6{/*9/25前新增*/
      text-align: left;
      font-weight: bold;
    }
    p {
      color:black;
      font-size: larger;
      font-weight: 600;
    }
    /*div{
      border-style: dashed;
      border-color: blue;
    }*/

    /*table{
      border-collapse: separate;
    }
    td:first-child{
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    td:last-child{
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }*/

    input{border:0;
      background-color:#B89886;/*82ABA3*/
      color:#fff;
      border-radius:10px;
      cursor:pointer;}
    input:focus{
      color:#003C9D;
      background-color:#fff;
      border:2px #003C9D solid;
    }

    .show{
      background-color:#B89886;
      border-radius:10px;
      text-align: left;
    }
    .show2{/*9/25前新增*/
      background-color:#B89886;
      border-radius:10px;
      text-align: center;
      width: 75%;
      display:inline-block;
    }
    .show3{/*9/25前新增*/
      background-color:#B89886;
      border-radius:10px;
      text-align: center;
      border-top: double #fff 10px;
      width: 32%;
      font-size: small;
      display:inline-block;
    }
    .group{
      width: 95%;
      display: inline-block;
      margin: auto;/*9/25前新增*/
    }

    .recipe{
      color:#2A4C65;
      background-color:#fff;
      border:2px #003C9D solid;
    }

    .bar{
      width: 60%;
      height: 50px;
      border-radius: 10px;
      font-size: large;
      display: inline;
    }
    /* 搜尋結果的CSS */
    .ui-widget{
        font-size: 30px;
        list-style: none;
        transition: 1s;
        background-color: #fff;
        width: 50%;
        opacity: 0.7;
        border-radius: 10px;
    }
    .ui-menu-item:hover{
        background-color: #B89886;
    }

    #myInput{
        width: 60%;
        font-size: large;
        padding: 10px;
        background-color:#fff;
    }
    #myTable{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        border: 1px solid;
        border-radius: 5px;
        font-size:30px;
        text-align: center;
        display: none;
    }
    #searchconsole{
      display: none;
    }
    #nosearch{
      display: none;
    }
    #myTable th{
      background-color: #B89886;
      border-radius: 10px;
    }
    #myTable td{
      padding: auto;
    }
    #myTable tr:hover{
      background-color:#fff;
    }

    .ui-menu{
      width: 200px;
      height: 50px;
      color: black;
      font-weight: bolder;
    }
    
    li{
      font-weight: bolder;
      background-color: #B89886;
    }
/*輪播css start*/
    * {box-sizing:border-box}

    /* Slideshow container */
    .slideshow-container {
      max-width: 700px;
      position: relative;
      margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* Caption text */
    .text {
      background-color: #B89886;
      opacity: 90%;
      color: black;
      font-size:x-large;
      font-weight: bolder;
      padding: 8px 12px;
      position: relative;
      top: 8px;
      width: 100%;
      text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: black;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
/*輪播css end*/